/* Appliquer la police Roboto à tout le site */
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f3f4f6;
    margin: 0;
    padding: 0;
}

/* Style pour la section d'accueil avec image de fond */
.home {
    background-image: url('../images/image-lune.jpg'); /* Assurez-vous que l'image est bien nommée "image-lune.jpg" */
    background-size: cover; /* Adapte l’image pour couvrir toute la section */
    background-position: center; /* Centre l’image */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    height: 100vh; /* Hauteur de la section */
    color: #fff; /* Couleur du texte en blanc */
    display: flex; /* Pour centrer le contenu */
    flex-direction: column; /* Organisation verticale du contenu */
    align-items: center; /* Centrage horizontal du contenu */
    justify-content: center; /* Centrage vertical du contenu */
    text-align: center; /* Centrage du texte */
    padding: 20px; /* Espace autour du contenu */
}

/* Style pour les titres des sections */
.section-title {
    font-size: 2em;
    color: #0073e6;
    margin: 20px 0;
    text-align: center;
    border-bottom: 2px solid #0073e6;
    padding-bottom: 10px;
    transition: color 0.3s;
}

.section-title:hover {
    color: #ff6600; /* Changement de couleur au survol */
}

/* Style des sous-sections */
#career, #sports, #linkedin, #cv {
    padding: 20px;
    margin: 20px;
    background: #f9f9f9;
   
