/* Appliquer la police Roboto à tout le site */
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f3f4f6;
    margin: 0;
    padding: 0;
}

.home {
    background-image: url('../images/image-lune.jpg'); /* Chemin relatif vers l'image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

/* Style pour les titres des sections */
.section-title {
    font-size: 2em;
    color: #0073e6;
    margin: 20px 0;
    text-align: center;
    border-bottom: 2px solid #0073e6;
    padding-bottom: 10px;
    transition: color 0.3s;
}

.section-title:hover {
    color: #ff6600; /* Changement de couleur au survol */
}

/* Style des sous-sections */
#career, #sports, #linkedin, #cv {
    padding: 20px;
    margin: 20px;
    background: #f9f9f9;
   
